    body {
        width: 100%;
        text-align: center;
    }
    
    header#title {
        position: fixed;
    }
    
    body {
        background-color: #FDFDFA;
        color: #3F6170;
    }
    
    h1 {
        color: #FDFDFA;
        background: #3F6170;
    }
    
    html {
        font-size: calc(18px + 0.25vw)
    }
    
    .table {
        margin: 0 auto;
        box-align: center
    }