#lang {
    color: inherit !important; /* 親要素の色を継承 */
    text-decoration: none;     /* 下線を消す */
}

#lang-active {
    color: inherit !important; /* 親要素の色を継承 */
    text-decoration: none;     /* 下線を消す */
    font-weight: bold;
}